{% extends 'aplicacion/base.html' %}

{% block titulo %}
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{trabajo.cargo}}</span></h1>
    </div>                              
{% endblock titulo %}

{% block informacion %}
    {% if trabajo %}
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
            <div class="card-body p-0">
                <div class="d-flex align-items-center">
                    <div class="p-5">
                        <h2 class="fw-bolder">{{trabajo.ubicacion}}</h2>
                        <h4 class="fw-bolder">{{trabajo.sueldo}}</h4>
                        <p>{{trabajo.detalles}}</p>
                    </div>
                </div>

    {% else %}
        <p>No se ha encontrado a nadie con ese nombre.</p>
    {% endif %}
{% endblock informacion %}