{% extends 'aplicacion/base.html' %}

{% block titulo %}
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Lista de Empleados</span></h1>
    </div>                              
{% endblock titulo %}

{% block filtro %}
<form action="{% url 'lista_empleos' %}" method="GET" class="text-center">
    <input type="text" name="cargo" placeholder="Buscar por cargo" class="mx-auto p-2" style="width: 490px;">
    <button type="submit" class="btn btn-primary btn-lg mx-auto p-2" style="width: 100px;">Buscar</button>
</form>
{% endblock filtro %}

{% block informacion %}
        <section class="py-5"> 
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Apellido</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for curriculum in curriculums %}
                                <tr>
                                    <td class="text-center">{{ curriculum.apellido }}</td>
                                    <td class="text-center">{{ curriculum.nombre }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'detalle_empleado' curriculum.id %}" class="btn btn-primary">
                                            <i class="bi bi-plus-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

{% endblock informacion %}


{% block final %}

    <a href="{% url 'empleadoForm' %}"  class = "btn btn-primary btn-lg opacity-95 mx-auto p-2" style="width: 200px;">Llenar formulario de empleado</a>
    
{% endblock final %}
    
