{% extends 'aplicacion/base.html' %}

{% block titulo %}
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Lista de Empleadores</span></h1>
    </div>                              
{% endblock titulo %}

{% block filtro %}
<form action="{% url 'lista_empleadores' %}" method="GET" class="text-center">
    <input type="text" name="nombre" placeholder="Buscar por nombre" class="mx-auto p-2" style="width: 490px;">
    <button type="submit" class="btn btn-primary btn-lg mx-auto p-2" style="width: 100px;">Buscar</button>
</form>
{% endblock filtro %}
<!-- LAS LISTAS SE RELLENAN A TRAVES DE UN CICLO FOR DONDE IMPRIME LOS DATOS DESEADOS DE OBJETO-->
{% block informacion %}
    <section class="py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">Empresa</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                    <tbody>
                        {% for e in empleadores %}
                            <tr>
                                <td class="text-center">{{ e.nombre }}</td>
                                <td class="text-center">{{ e.apellido }}</td>
                                <td class="text-center">{{ e.nombreEmpresa }}</td>
                                <td class="text-center">
                                    <a href="{% url 'detalle_empleador' e.id %}" class="btn btn-primary">
                                        <i class="bi bi-plus-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
    
{% endblock informacion %}


{% block final %}

    <a href="{% url 'empleadorForm' %}"  class = "btn btn-primary btn-lg opacity-95 mx-auto p-2" style="width: 200px;">Generar nuevo empleo</a>
    
{% endblock final %}